<div class="row">
    <h1 class="small-8 large-centered columns">Summoners</h1>
</div>
<%= render 'summoners/form' %>
<div class="row">
  <div id="summoners" class="small-8 large-centered columns">
    <div id="loading">
      <!-- <i class="fi-widget large"></i> -->
    </div>
    <%= render @summoners %>
  </div>
</div>


