<div class="row">
  <div class="small-8 large-centered columns">
    <h1>Summoners</h1>
    <%= render 'summoners/form' %>
    <p>Wheatbox</p>
    <p>Cheezebox</p>
    <p>Bronziebox</p>
  </div> 
</div>

