<div class="row">
    <h1 class="small-8 large-centered columns">Summoners</h1>
</div>
<%= render 'summoners/form' %>
<div class="row">
  <div id="loading" class="small-8 large-centered columns"></div>
  <div id="summoners" class="small-8 large-centered columns">
    <% if @summoners.empty? %>
      <p class="no_summoners">You have no summoners!</p>
    <% else %>
      <%= render @summoners %>
    <% end %>
  </div>
</div>