<div class="row">
  <h1 class="small-8 large-centered columns">Summoners</h1>
</div>
<div class="row">
  <p class="small-8 large-centered columns">Wheatbox</p>
</div>
<div class="row">
  <p class="small-8 large-centered columns">Cheezebox</p>
</div>
<div class="row">
  <p class="small-8 large-centered columns">Bronziebox</p>
</div>

