// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/j
.champion_pic {

}

.result, .ping, .time_in_queue, .gold_earned, .minions, .multikill, .wards, .cc {
  margin-left: 40px;
}

.win {
  color: green;
}

.loss {
  color: red;
}

.queue_type {
  margin-left: 40px;
}

.kda {
  margin-left: 40px;
}

.team {
  margin-left: 40px;
}

.item, .spell {
  margin-left: 15px;
}